{% extends "base.html" %}

{% block head_extend %}
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
{% endblock head_extend %}

{% block content %}
    <div class="container">
        {% for group_name, rss_list in public_rss_groups %}
            <h2>{{ group_name }}</h2>
            <ul>
                {% for rss_file_name, source_readable_name in rss_list %}
                    <li>
                        <a href="/source2rss/{{ rss_file_name | urlencode }}.xml/">{{ source_readable_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        {% if auth_rss_groups %}<p>本页面不包含公开订阅源</p>{% endif %}
        {% for group_name, rss_list in user_rss_groups %}
            <h2>{{ group_name }}</h2>
            <ul>
                {% for rss_file_name, source_readable_name in rss_list %}
                    <li>
                        <a href="/query_rss/{{ rss_file_name | urlencode }}.xml/">{{ source_readable_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}

        {% if auth_rss_groups %}<p>以下是授权订阅源</p>{% endif %}
        {% for group_name, rss_list in auth_rss_groups %}
            <h2>{{ group_name }}</h2>
            <ul>
                {% for rss_file_name, source_readable_name in rss_list %}
                    <li>
                        <a href="/source2rss/{{ user_name }}/{{ rss_file_name | urlencode }}.xml/">{{ source_readable_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock content %}
