data_dir: config_and_data_files

enabled_web_scraper:
  src.scraper.examples:
  - representative   # 删除这个则无法通过 API 发布 RSS
  - remote           # 删除这个则无法使用 Remote 模式

query_cache_maxsize: 100
query_cache_ttl_s: 3600
query_bedtime:   # 睡眠时间里，管理员的请求走缓存路径，减少资源消耗
- ["01:30", "06:30"]

enable_s2r_c: false # 设置为 True 则程序中的一些错误会作为 RSS 可供订阅，方便出错时即时发现
port: 8536 # 如果 enable_s2r_c 为真，这个必须填写为程序监听的端口号

logging:
  version: 1
  disable_existing_loggers: False

  formatters:
    simple:
      format: "%(asctime)s %(message)s"
      datefmt: "%Y-%m-%d %H:%M:%S"
    brief:
      format: "%(levelname)s %(asctime)s %(message)s"
      datefmt: "%m-%d %H:%M:%S"
    error:
      format: "%(levelname)s %(asctime)s %(name)s %(filename)s::%(funcName)s[%(lineno)d]:%(message)s"

  handlers:
    console:
      class: logging.StreamHandler
      level: INFO
      formatter: brief
      stream: ext://sys.stdout

    info_file_handler:
      class: logging.handlers.RotatingFileHandler
      level: INFO
      formatter: simple
      filename: source2rss_info.log
      maxBytes: 1048576  # 1MB
      backupCount: 3
      encoding: utf8

    error_file_handler:
      class: logging.handlers.RotatingFileHandler
      level: ERROR
      formatter: error
      filename: source2rss_error.log
      maxBytes: 1048576  # 1MB
      backupCount: 3
      encoding: utf8

  root:
    level: INFO
    handlers: [console, info_file_handler, error_file_handler]

  loggers:
    AsyncBrowserManager:
      level: DEBUG
      handlers: [console, info_file_handler, error_file_handler]
      propagate: False

# 开发人员会用到的，设置程序的全局代理，避免抓取器因为网络原因无法工作，示例如 http://127.0.0.1:1080
http_proxy_url: ""
