{% extends "base.html" %}

{% block head_extend %}
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
    </style>
{% endblock head_extend %}

{% block content %}
    <div class="container">
        {% for rss_file_name, source_readable_name in user_rss_list %}
            <p class="list-item">
                <a href="/source2rss/{{ user_name }}/{{ rss_file_name | urlencode }}.xml/">{{ source_readable_name }}</a>
            </p>
        {% endfor %}
        {% for rss_file_name, source_readable_name in rss_list %}
            <p class="list-item">
                <a href="/query_rss/{{ rss_file_name | urlencode }}.xml/">{{ source_readable_name }}</a>
            </p>
        {% endfor %}
        {% for rss_file_name, source_readable_name in public_rss_list %}
            <p class="list-item">
                <a href="/source2rss/{{ rss_file_name | urlencode }}.xml/">{{ source_readable_name }}</a>
            </p>
        {% endfor %}
    </div>
{% endblock content %}
